<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">

  <title>Dorm Dinner</title>
</head>
<body>
  <div class='mainContainer'>
    <h1>Possible Dishes:</h1>

    <pre class="handwritten-pre">
      <%= response[0].text %>
    </pre>

    <div class="buttonContainer">
      <a href="/">
        <button class="back-button">back</button>
      </a>
    </div>
  </div>

</body>
</html>
